# Frontend (Nginx - reverse proxy + static files)
frontend:
  replicaCount: 2
  image:
    repository: ivbosk/demo_frontend
    # ACR repository:
    # repository: ivanbacr.azurecr.io/demo-frontend
    tag: "576fc59"
    pullPolicy: IfNotPresent
  service:
    type: LoadBalancer
    port: 80
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 50m
      memory: 64Mi

# Backend (Flask API)
backend:
  replicaCount: 2
  image:
    repository: ivbosk/demo_backend
    # ACR repository:
    # repository: ivanbacr.azurecr.io/demo-backend
    tag: "latest"
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 5000
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 128Mi

# Database (PostgreSQL)
postgres:
  enabled: true
  replicaCount: 1
  image:
    repository: postgres
    tag: "15-alpine"
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 5432
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 128Mi
  persistence:
    enabled: true
    size: 1Gi
    storageClass: ""
  auth:
    database: demo
    username: postgres
    password: postgres
