apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: demo-app
  namespace: argocd
  annotations:
    link.argocd.argoproj.io/external-link: "http://demo-app-ivbosk.australiacentral.cloudapp.azure.com"
spec:
  project: default
  
  source:
    # Update this to your GitHub repository URL
    repoURL: https://github.com/iboskov/devops_task.git
    targetRevision: main
    path: helm/demo-app
    helm:
      valueFiles:
        - values.yaml
  
  destination:
    server: https://kubernetes.default.svc
    namespace: demo-app
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
